export QT_QPA_PLATFORMTHEME="qt5ct"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_CACHE_HOME="$HOME/.cache"
export PATH="$HOME/.local/bin:$PATH"

# Set XDG compliant locations for various programs
export GOPATH="$XDG_DATA_HOME"/go
export GRADLE_USER_HOME="$XDG_DATA_HOME"/gradle
#export GTK2_RC_FILES="$XDG_CONFIG_HOME"/gtk-2.0/gtkrc

#export GTK_THEME=Adwaita:dark
