.boh {
    color: #fc9403;
}

.right {
    border-width: 2px;
    border-style: dashed;
    border-color: #0943b0;
    font-family: "Ubuntu";
    font-weight: bold;
}

.center {
    border-width: 2px;
    border-style: dashed;
    border-color: #00FF00;
}
.left {
    border-width: 2px;
    border-style: dashed;
    border-color: #FF0000;
}

.net {
    color: #98be65;
}
.cpu {
    color: #ecbe7b;
}
.ram {
    color: #51afef;
}
.temp {
    color: #ff6c6b;
}
.time {

}
