window {
margin: 5px;
border: 2px solid #2f8fd4;
background-color: #2f8fd4;
font-family: JetBrains Mono;
font-size: 14px;
border-radius: 10px;
}

#input {
margin: 5px;
border: 2px solid #282c34;
background-color: #282c34;
}

#inner-box {
margin: 5px;
border: 2px solid #282c34;
background-color: #282c34;
}

#outer-box {
margin: 5px;
border: 2px solid #282c34;
background-color: #282c34;
border-radius: 10px;
}

#scroll {
margin: 5px;
border: 2px solid #282c34;
background-color: #282c34;
}

#text {
margin: 5px;
border: 2px #282c34;
color: #2f8fd4;
}  
 #entry:selected {
background-color: #2f8fd4;
}
#text:selected {
color: #282c34;
}
 
