configuration {
	modi: "drun,run,filebrowser,emoji";
	display-drun: "󰀻 DRun";
	display-run: "  Run";
	display-emoji: "😄 Emoji";
	display-filebrowser: " FileBrowser";
	matching: "prefix";
	drun-match-fields: "name,generic";
	sidebar-mode: true;
	show-icons: true;
	disable-history: false;
}

@theme "/dev/null"
@import "styles/spotlight.rasi"
